.sidenav {
    height: 100%;
    /*            width: 18%;*/
    position: fixed;
    z-index: 1;
    top: 50;
    /*            left: 0;*/
    /*            background-color: rgba(47, 47, 47, 0.04);*/
    overflow-x: hidden;
    padding-top: 20px;
}

/*.upnav {*/
/*margin-left: 160px;*/
/*!*margin-top: 160px;*!*/
/*position: fixed;*/
/*z-index: 1;*/
/*top: 0;*/
/*left: 0;*/
/*overflow-x: hidden;*/
/*}*/

.main {
    margin-left: 18%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    /*padding: 0px 10px;*/
    /* top: 150px; */
    padding-top: 50px;
}

.col-md-0-5 { width: 4,16667%; } // 4,16667
.col-md-1-5 { width: 12,5%; } // = 8,3333 + 4,16667
.col-md-2-5 { width: 20,83333%; } // = 16,6666 + 4,16667
.col-md-3-5 { width: 29,16667%; } // = 25 + 4,16667
.col-md-4-5 { width: 37,5%; } // = 33,3333 + 4,16667
.col-md-5-5 { width: 45,83333%; } // = 41,6667 + 4,16667
.col-md-6-5 { width: 54,16667%; } // = 50 + 4,16667
.col-md-7-5 { width: 62,5%; } // = 58,3333 + 4,16667
.col-md-8-5 { width: 70,83333%; } // = 66,6666 + 4,16667
.col-md-9-5 { width: 79,16667%; } // = 75 + 4,16667
.col-md-10   { width: 83,33333%; } // = 83,3333 + 4,16667
.col-md-10-5 { width: 87,5%; } // = 83,3333 + 4,16667
.col-md-11-5 { width: 95,8333%; } // = 91,6666 + 4,16667

